* {
  box-sizing: border-box;
}
body, html {
  background-color: #111;
  height: 100%;
  overflow: hidden;
  padding:0;
  margin:0;
  font-family: 'Roboto';
}
#one, #two {
  display:inline-block;
  width:50%;
  height: 100%;
  text-align: center;  
}
#one {
  background-color: #006699;
  color: #fff;
  border: 0px solid #0067a1;
}
#two {
  background-color: #fff;
  color: #006699;
  border: 1px solid pink;
  float: right;
  display:inline-block;
}
h1 {
  text-transform: uppercase;
  font-size: 500%;
  margin: 50px 0 20px 0;
}
.leftPeck {
  -webkit-animation-delay: 0.5s;
}
.rightPeck {
  -webkit-animation-delay: 1.5s;
}
